<html>
  <head>
    <title>Contacts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav-bar">
      <ul>
        <li><h1>EJS Is Fun</h1></li>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <%- body %>
    <footer>@Copyright <%= new Date() %></footer>
  </body>
</html>