<html>
  <head>
    <title>Contacts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navBar">
      <ul>
        <li><h1>EJS Is Fun</h1></li>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/add-contact">Add Contact</a></li>
      </ul>
    </div>
    <%- body %>
  </body>
</html>