<html>
  <head>
    <title>Contacts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="nav-bar-custom">
      <ul>
        <li><h1><span class="glyphicon glyphicon-tree-deciduous"></span> EJS Is Fun</h1></li>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <%- body %>
    <footer>@Copyright <%= new Date() %></footer>
  </body>
</html>