<html>
  <head>
    <title>Date and Time Displayer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>TOP NAVIGATION</p>
    <p>NAVIGATION</p>

    <%- body %>

    <p>FOOTER</p>
  </body>
</html>