body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  font-weight: bold;
}

footer {
  color: rgb(130, 128, 128);
  text-align: center;
}

.nav-bar {
  background-color: rgb(225, 224, 224);
  border: solid rgb(201, 201, 201);
  border-radius: .5rem;
  vertical-align: middle;
}

.nav-bar li {
  color: rgb(130, 128, 128);
  margin-left: 2rem;
}

.nav-bar li a {
  color: rgb(130, 128, 128);
  display: inline;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.nav-bar li h1 {
  display: inline;
}

.nav-bar ul {
  align-items: center;
  display: inline-flex;
  height: auto;
  padding: 0;
  list-style-type: none;
}

.success {
  background-color: rgb(168, 255, 168);
  border: solid green;
  border-radius: .5rem;
  color: green;
  font-size: 16px;
  margin: 1rem auto 0 auto;
  padding: .4rem 0;
  text-align: center;
  width: 20rem;
}

.user-name {
  font-weight: bold;
}
